:root {
  --correct-guess-color: #1FB15F;
  --incorrect-guess-color: #D02B2B;
  --empty-guess-color: #7A5EA7;
}

[data-theme="light"] {
  --background-color: #ffffff;
  --letter-color: #cccccc;
  --text-color: #242424;
  --border-color: #0a0a0a;
  --muted-text: #666666;
  --toggle-background: #262626;
  --toggle-text: #D9D9D9;
  --toggle-border: #f5f5f5;
}

[data-theme="dark"] {
  --background-color: #262626;
  --letter-color: #323232;
  --text-color: #D9D9D9;
  --border-color: #f5f5f5;
  --muted-text: #777777;
  --toggle-background: #ffffff;
  --toggle-text: #242424;
  --toggle-border: #0a0a0a;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hanken Grotesk", Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.header-container {
  text-align: center;
  max-width: 350px;
  margin: 0 auto;
}

.header-title {
  font-size: 2rem;
  color: var(--text-color);
}

.header-description {
  font-size: 1rem;
  color: var(--muted-text);
}

.status-container-win {
  background-color: var(--correct-guess-color);
  text-align: center;
  border-radius: 5px;
  width: 400px;
  height: 55px;
  margin: 5px auto;
}

.status-container-lose {
  background-color: var(--incorrect-guess-color);
  text-align: center;
  border-radius: 5px;
  width: 400px;
  height: 55px;
  margin: 5px auto;
}

.status-title {
  font-size: 1.5rem;
  margin-bottom: 0px;
}

.status-description {
  margin-top: 0px;
}

.languages-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  max-width: 350px;
  justify-content: center;
  margin: 25px auto;
}

.chip {
  border-radius: 5px;
  padding: 5px;
  position: relative;
}

span.chip.lost::before {
  content: "💀";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 0.85rem;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.word-container {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin: 25px auto;
}

.letter {
  height: 50px;
  width: 50px;
  background-color: var(--letter-color);
  color: var(--correct-guess-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1.5px solid var(--border-color);
}

.hidden-letter {
  height: 50px;
  width: 50px;
  background-color: var(--letter-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1.5px solid var(--border-color);
}

.letter-missed {
  height: 50px;
  width: 50px;
  background-color: var(--letter-color);
  color: var(--incorrect-guess-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1.5px solid var(--border-color);
}

.keyboard-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  max-width: 400px;
  margin: 25px auto;
}

.keyboard-button {
  height: 37px;
  width: 37px;
  border-radius: 5px;
  background-color: var(--letter-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  gap: 10px;
  cursor: pointer;
}

.keyboard-button.guessed.correct {
  background-color: var(--correct-guess-color);
  border: 1px solid var(--border-color);
}

.keyboard-button.guessed.wrong {
  background-color: var(--incorrect-guess-color);
  border: 1px solid var(--border-color);
}

.share-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--correct-guess-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  height: 40px;
  width: 250px;
  margin: 25px auto;
  cursor: pointer;
  font-size: 1.25rem;
}

.farewell-correct {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: var(--correct-guess-color);
  max-width: 250px;
  height: 50px;
  border-radius: 5px;
  font-size: 1.2rem;
  margin: 0 auto 25px;
}

.farewell-wrong {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: var(--incorrect-guess-color);
  max-width: 250px;
  height: 50px;
  border-radius: 5px;
  font-size: 1.2rem;
  margin: 0 auto 25px;
}

.farewell-empty {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: var(--empty-guess-color);
  max-width: 250px;
  height: 50px;
  border-radius: 5px;
  font-size: 1.2rem;
  margin: 0 auto 25px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.guess-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px auto;
  font-size: 2rem;
}

.toggle-dark-button {
  position: absolute;
  top: 0%;
  right: 0%;
  border-radius: 5px;
  padding: 5px 10px;
  font-weight: bold;
  margin: 5px;
  background-color: var(--toggle-background);
  color: var(--toggle-text);
  border: 1px solid var(--toggle-border);
}

.faq-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin: 25px;
  border-radius: 5px;
  color: var(--text-color);
}

.faq-button {
  background-color: var(--letter-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
}